extends layout.pug

block content

 

  nav.nav
    a(href='/')
      span &larr;
      |  Back



  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Ryli Davis

        p Full Stack JavaScript Developer


        .about-bio

          p I'm consistently exercising my brain to creatively solve debugging issues and troubleshooting environment variable problems. I am influenced to continually learn and improve my skillset. The goal is to become more capable in solving complex challenges and increasing the value that I am able to give back to those around me.  




      .skills-contact-box.box
        h6 Skills

        ul
          li JavaScript
          li HTML
          li Accessibility
          li Git + GitHub
          li VS Code
          li React
          li Pug
          li OOP
          li CSS
          li Fetch + Public APIs
          li Node.js
          li Express
        

        h6 Contact Info

        ul
          li 209-986-8880
          li rylidavis94@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/ryli-davis-b48354130/') LinkedIn
        a.btn-link(href='https://github.com/coderylicode') GitHub
        a.btn-link(href='https://www.twitter.com') Twitter



    nav.nav
      a(href='/')
        span &larr;
        |  Back

