extends layout.pug

block content

  article.portfolio-intro

    h1 Creating imaginative practical web experiences, one day at a time! :)

    p I showcase my capabilities through my web design experience. My portfolio was created with my thorough skillset of express, node.js, and combined with the usage of pug templates. Each project contains a unique application designed with various technologies. 


  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects

      
      

        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`,alt=`${project.project_name}`)
            h5 #{project.project_name}

